<ion-grid class="route-location-card">
  <ion-row class="route-location-card__row">
    <ion-col size="auto" class="route-location-card__track-col">
      <ion-grid class="route-location-card__track">
        <ion-row class="route-location-card__track-inner">
          <ion-col size="auto" class="route-location-card__pickup-dot-col" aria-hidden="true"></ion-col>
          <ion-col size="auto" class="route-location-card__connector-col" aria-hidden="true"></ion-col>
          <ion-col size="auto" class="route-location-card__destination-icon-col" aria-hidden="true">
            <ion-img
              src="assets/icon/pin-location.svg"
              alt=""
              class="route-location-card__destination-icon"
            ></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>

    <ion-col class="route-location-card__fields-col">
      <ion-button
        type="button"
        fill="clear"
        expand="block"
        class="route-location-card__field"
        [class.route-location-card__field--active]="activeField === 'pickup'"
        (click)="onFieldClick('pickup')"
      >
        <ion-text
          class="route-location-card__field-text"
          [class.route-location-card__field-text--filled]="!!pickup"
        >
          {{
            pickup?.label ||
              (activeField === 'pickup'
                ? ('RIDE_BOOKING.CHOOSE_PICKUP' | translate)
                : ('RIDE_BOOKING.CURRENT_POSITION' | translate))
          }}
        </ion-text>
      </ion-button>

      @if (activeField === 'destination') {
        <ion-item
          lines="none"
          class="route-location-card__field route-location-card__field--destination route-location-card__field--active"
          (click)="onFieldClick('destination')"
        >
          @if (!destination) {
            <ion-text class="route-location-card__cursor" aria-hidden="true">|</ion-text>
          }
          <ion-input
            class="route-location-card__input"
            [value]="destinationQuery"
            [placeholder]="'RIDE_BOOKING.SEARCH_PLACEHOLDER' | translate"
            (ionInput)="onDestinationInput($event)"
            (click)="$event.stopPropagation()"
          ></ion-input>
        </ion-item>
      } @else {
        <ion-button
          type="button"
          fill="clear"
          expand="block"
          class="route-location-card__field route-location-card__field--destination"
          (click)="onFieldClick('destination')"
        >
          <ion-text class="route-location-card__field-text route-location-card__field-text--filled">
            {{ destination?.label || ('RIDE_BOOKING.SEARCH_PLACEHOLDER' | translate) }}
          </ion-text>
        </ion-button>
      }
    </ion-col>
  </ion-row>
</ion-grid>
