<ion-button
  type="button"
  fill="clear"
  class="vehicle-option-card"
  [class.vehicle-option-card--selected]="selected"
  (click)="onSelect()"
>
  <ion-grid class="vehicle-option-card__content">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="12" class="vehicle-option-card__media-col">
        <ion-img [src]="iconSrc" alt="" class="vehicle-option-card__icon"></ion-img>
      </ion-col>
      <ion-col size="12">
        <ion-text class="vehicle-option-card__price">{{ formatPrice() }} FCFA</ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-text class="vehicle-option-card__label">{{ labelKey | translate }}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-button>
