<ion-content [fullscreen]="true" class="ride-history-list">
  <ion-grid class="ride-history-list__layout">
    <ion-row class="ride-history-list__header-row">
      <ion-col size="12" class="ride-history-list__header-col">
        <app-back-button defaultHref="/home" class="ride-history-list__back-btn"></app-back-button>
        <ion-text class="ride-history-list__title">{{ titleLabel() }}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ride-history-list__cards-row">
      <ion-col size="12">
        <ion-grid class="ride-history-list__cards">
          @for (ride of rides; track ride.id) {
            <ion-row class="ride-history-list__card-row">
              <ion-col size="12">
                <ion-button
                  type="button"
                  fill="clear"
                  expand="block"
                  class="ride-history-list__card"
                  (click)="onOpenRide(ride.id)"
                >
                  <ion-grid class="ride-history-list__card-grid">
                    <ion-row class="ion-align-items-center ion-nowrap">
                      <ion-col size="auto" class="ride-history-list__map-col">
                        <ion-img
                          src="assets/images/home-map.svg"
                          alt=""
                          class="ride-history-list__map"
                        ></ion-img>
                      </ion-col>

                      <ion-col class="ride-history-list__info-col">
                        <ion-text class="ride-history-list__plate">{{ ride.plate }}</ion-text>
                        <ion-text class="ride-history-list__date">{{ ride.dateLabel }}</ion-text>
                        <ion-grid class="ride-history-list__price-row">
                          <ion-row class="ion-align-items-center ion-justify-content-between">
                            <ion-col size="auto">
                              <ion-text class="ride-history-list__price">{{ formatPrice(ride.priceXof) }}</ion-text>
                            </ion-col>
                            <ion-col size="auto" class="ride-history-list__action-col">
                              <ion-img
                                src="assets/icons/solar_arrow-left-broken.svg"
                                alt=""
                                class="ride-history-list__action-icon"
                              ></ion-img>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-button>
              </ion-col>
            </ion-row>
          }
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
