<ion-content [fullscreen]="true" class="auth-page new-password">
  <ion-grid class="auth-page__layout">
    <ion-row class="auth-page__back-row">
      <ion-col size="12" class="auth-page__back-col">
        <app-back-button [defaultHref]="backHref"></app-back-button>
      </ion-col>
    </ion-row>

    <ion-row class="auth-page__header-row">
      <ion-col size="12" class="auth-page__header-col">
        <ion-text class="auth-page__title">{{ 'AUTH.NEW_PASSWORD.TITLE' | translate }}</ion-text>
        <ion-text class="auth-page__subtitle">{{
          'AUTH.NEW_PASSWORD.SUBTITLE' | translate
        }}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="auth-page__form-row">
      <ion-col size="12" class="auth-page__form-col">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ion-grid class="auth-page__fields">
            <ion-row>
              <ion-col size="12">
                <app-input
                  variant="pill"
                  formControlName="password"
                  [label]="'AUTH.NEW_PASSWORD.PASSWORD_LABEL' | translate"
                  type="password"
                  [showPasswordToggle]="true"
                ></app-input>
              </ion-col>
            </ion-row>

            <ion-row class="new-password__confirm-row">
              <ion-col size="12">
                <app-input
                  variant="pill"
                  formControlName="confirmPassword"
                  [label]="'AUTH.NEW_PASSWORD.CONFIRM_LABEL' | translate"
                  type="password"
                  [showPasswordToggle]="true"
                ></app-input>
              </ion-col>
            </ion-row>

            @if (errorMessage) {
              <ion-row>
                <ion-col size="12">
                  <ion-text color="danger" class="auth-page__error">{{
                    errorMessage | translate
                  }}</ion-text>
                </ion-col>
              </ion-row>
            }

            <ion-row class="auth-page__action-row">
              <ion-col size="12" class="auth-page__action-col">
                <app-pill-button [loading]="loading" (buttonClick)="onSubmit()">
                  {{ 'AUTH.NEW_PASSWORD.SUBMIT' | translate }}
                </app-pill-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
